.showcase {
  position: relative;
}

.showcase__item {
  img {
    width: 100%;
  }
}

.option_mouse {
  display: none;
}

//slider on desktop
@include mq($from: desktop) {
  @media (pointer: fine) {
    .option_mouse {
      display: block;
    }

    .option_touch {
      display: none;
    }

    .showcase {
      width: 100%;
    }

    .showcase {
      display: flex;
      flex-direction: column;
      overflow-x: auto;
    }

    .showcase__middle {
      display: flex;
      flex: 1;
    }

    .showcase__item {
      flex: 0 0 100%;
    }

    .showcase__item .cover {
      height: calc(100vh - #{$footerheight});
    }
  }
}
