.nav {
  ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.nav__item {
  position: fixed;
  top: 0;
  color: yellow;
  mix-blend-mode: difference;

  a {
    display: inline-block;
    text-decoration: none;
    padding: 9px 3px;
    @include mq($from: desktop) {
      padding: 21px 17px;
    }
  }
}

.nav__item.work {
  left: 0;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

.nav__item.about {
  position: fixed;
  right: 0;
  writing-mode: vertical-lr;
}

.nav__item.info {
  position: fixed;
  display: block;
  width: 100%;
  text-align: center;
}
